* {
  box-sizing: border-box;
}
.outerContainer {
  /* border: 5px dotted orange; */
  width: 100%;
  display: flex;
  padding: 1.5rem;
}
.LeftPanel {
  width: 20%;

  background-color: #fff;
  height: 100vh;
}
.datadiv {
  width: 60%;
  float: right;
}
.Appouterdiv {
  background-color: #ececec;
  width: 100%;
  min-height: 100vh;
}
h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  font-weight: lighter;
}
.divWrappingComponents {
  display: flex;
  flex-wrap: wrap;
}
.datadiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-shrink: 2;
  min-height: 100vh;
  background: white;
  margin-left: 1rem;
  min-width: 600px;
  flex-basis: 73%;
}
.card {
  box-shadow: 0 1px 4px 1px rgb(202, 202, 202);
  /* border: 1px solid #cac9c9; */
  /* min-height: 280px; */
  font-family: sans-serif;
  width: 20%;
  margin: 10px;
  font-size: 0.75rem;
  line-height: 1.5;
  height: 310px;
  max-height: 400px;
}
.card img {
  display: block;
  background-color: rgb(236, 236, 236);
  margin: 10px auto;
  width: 60%;
  height: auto;
}
.carddata {
  padding: 0.5rem 0.5rem 0.5rem;
}
.cardtitle {
  margin-top: 20px;
  color: rgb(99, 99, 99);
  font-weight: lighter;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.LeftPanelmaindiv p {
  background-color: rgb(219, 219, 120);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
button {
  margin: 0.3rem 0.5rem;
  width: 40%;
  padding: 0.3rem 0.5rem;
  color: white;
  background-color: rgb(123, 190, 123);
  font-size: 0.9rem;
  outline: none;
  border-radius: 4px;
  overflow: hidden;
}
button:hover {
  opacity: 0.7;
}
.buttonTitle {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0.8rem;
}
.titlehr {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.filtertext {
  font-family: sans-serif;
  background-color: rgb(240, 240, 240);
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: center;
}
h4{
  font-size: 1.6em;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 2rem;
}