.LeftPanelmaindiv {
  border: 2px dotted green;
  min-width: 200px;
  max-width: 400px;
  flex-basis: 20%; 
  min-height: 100vh;
  margin: 1rem 1rem;
  background: white;
  flex-grow: 1;
  flex-shrink: 1;
}
.LeftPanelmaindiv p {
  background-color: yellow;
}
